<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="com.dogstyle.pethelp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>AdoteUmAnimal.App</name>
  <description>É um aplicativo para ajudar a comunidade quando eles precisarem de alguma ajuda com seus animais.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Dog Style Team</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="true" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="target-device" value="handset" />
  <preference name="deployment-target" value="9.3" />
  <preference name="SuppressesIncrementalRendering" value="False" />
  <vs:plugin name="cordova-plugin-inappbrowser" version="1.3.0" />
  <vs:plugin name="phonegap-facebook-plugin" version="0.12.0" />
  <vs:platformSpecificValues />
</widget>